<header class="header_area menu_eight fixed-top">
    <div class="main_menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="~/Backend-Challenge/FrontEnd/img/chip-logo2.png" srcset="~/Backend-Challenge/FrontEnd/img/chip-logo2.png"
                         alt="bar">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle nav-size" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Anasayfa</a>
                        </li>
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle nav-size" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Chip Tuning</a>
                        </li>
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle nav-size" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Hİzmetler</a>
                            <!--                            <ul class="dropdown-menu">-->
                            <!--                                <li><a href="#">DPF İptali</a></li>-->
                            <!--                                <li><a href="#">EGR İptali</a></li>-->
                            <!--                                <li><a href="#">Hız Limit İptali</a></li>-->
                            <!--                                <li><a href="#">Adblue İptali</a></li>-->
                            <!--                                <li><a href="#">Benzin Chip Uygulaması</a></li>-->
                            <!--                                <li><a href="#">Box Uygulaması</a></li>-->
                            <!--                                <li><a href="#">Pedal Uygulaması</a></li>-->
                            <!--                                <li><a href="#">Chip Yazılımı</a></li>-->
                            <!--                                <li><a href="#">Tork ve Güç Artışı</a></li>-->
                            <!--                            </ul>-->
                        </li>
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle nav-size" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Kurumsal</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">İnsan Kaynakları</a></li>
                                <li><a href="#">Sıkça Sorulan Sorular</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="nav-size">İletİşİm</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="booking_btn">
                            <i class="icon-phone_2"></i>
                            <p>Randevu Alın</p>
                            <a href="tel:05338309600">533 830 96 00</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
