<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/vendors/icomoon-icon/style.css">
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/vendors/themify-icon/themify-icons.css">
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/vendors/datetimepicker/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/vendors/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/vendors/slick/slick.css">
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/vendors/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/vendors/popup/magnific-popup.css">
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/css/style.css">
    <link rel="stylesheet" href="~/Backend-Challenge/FrontEnd/css/responsive.css">
</head>
<body>
    @Html.Partial("_header")
    
    <hr /><hr /><hr /><hr /><hr />

    <div class="container">
        @RenderBody()
    </div>


    @Html.Partial("_footer")

    <script src="~/Backend-Challenge/FrontEnd/js/jquery-3.4.1.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/js/popper.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/js/bootstrap.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/vendors/datetimepicker/moment.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/vendors/datetimepicker/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/vendors/slick/slick.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/vendors/counter-up/jquery.counterup.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/vendors/popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/vendors/animate-css/wow.min.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/js/theme-dist.js"></script>
    <script src="~/Backend-Challenge/FrontEnd/js/main.js"></script>



</body>
</html>

